.THIS button.nav{
	background-color: #BABEC4;
    color: #000000;
    border-color: #000000;
}
.THIS button.nav:focus{
	background-color: #BABEC4;
    color: #000000;
    border-color: #000000;
}
.THIS button.nav:hover{
	background-color: #BABEC4;
    color: #000000;
    border-color: #000000;
}
.THIS button.nav:disabled{
	background-color: #BABEC4;
    color: #000000;
    border-color: #000000;
}