.THIS .slds-button_destructive {
    background-color: #EB0000 !IMPORTANT;
    border-color: #EB0000 !IMPORTANT;
    font-family:FiraSans-regular;
}
.THIS .Test {
    background-color: #EB0000 !IMPORTANT;
    border-color: #EB0000 !IMPORTANT;
font-family:FiraSans-regular;
}