.THIS.custom-header{
    bottom: 0;
    top: 0;
    width: 100%;
    background: rgb(243, 242, 242);
    box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.16);
    z-index: 8000;
    display: flex;
    justify-content: center;
    padding: .5rem 0;
}